<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      From: <%= @email %>
    </p>
    <p>
      Your otp to view the blog is <%= @otp %>
    </p>
  </body>
</html>
